.menu {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(27, 32, 38, 0.72);
  display: flex;
  justify-content: flex-end;
  transition: opacity 0.35s ease;

  &__window {
    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    &--favorites {
      background-color: var(--black-brand-color);
    }

    &--main {
      background-color: var(--focus-color);

      .menu-left__item,
      .menu-left__item a,
      .menu-right__heading,
      .menu-right__heading a,
      .menu-right__link {
        color: var(--white-color);
      }

      .menu__close-btn svg {
        stroke: var(--white-color);
      }

      .address__tel,
      .address__mail,
      .address__address {
        color: var(--white-color);
      }
    }
  }

  &__logo {
    position: absolute;
    left: 30px;
    top: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    z-index: 31;

    @include mobile {
      left: 16px;
      top: 32px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 40px;
    right: 60px;
    width: 24px;
    height: 24px;

    @media (min-width: 1440px) {
      width: 2.4rem;
      height: 2.4rem;
    }

    @include mobile {
      top: 32px;
      right: 16px;
    }

    svg {
      width: 100%;
      height: 100%;
      stroke-width: 2px;
      stroke: var(--white-color);
      transition: stroke 0.3s ease;
    }

    @include hover {
      svg {
        stroke: var(--white-color);
      }
    }
  }
}

.menu-active {
  opacity: 1;
  z-index: 30;
  pointer-events: auto;

  .menu__logo {
    opacity: 1;
  }

  .menu-window {
    transform: translateX(0);
  }
}

.menu-disabled {
  opacity: 0;
  pointer-events: none;

  .menu-window {
    transition: transform 0.3s ease-in;
    transform: translateX(100%);
  }

  .menu__logo {
    opacity: 0;
  }
}

.menu-window {
  width: 75%;
  padding: 90px 120px;
  padding-right: 77px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 12rem;
  overflow: auto;

  @media (min-width: 1440px) {
    padding: 9rem 12rem;
  }

  @include mobile {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 96px 40px 50px 16px;
    gap: 0;
  }
}

.menu-right {
  @include mobile {
    order: -1;
    margin-bottom: 24px;
  }

  &__heading {
    margin: 0 0 16px;
    color: var(--black-brand-color);

    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.96px;
    text-transform: uppercase;

    a {
      display: inline-block;
      color: inherit;
      transition: transform 0.4s ease-out;

      @include hover {
        transform: translateX(15px);

        @media (min-width: 1441px) {
          transform: translateX(1.5rem);
        }
      }
    }

    @media (min-width: 1440px) {
      font-size: 3.2rem;
      margin-bottom: 1.6rem;
      letter-spacing: 0.096rem;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 40px;

      @media (min-width: 1440px) {
        margin-bottom: 4rem;
      }

      @include mobile {
        margin-bottom: 24px;
      }
    }
  }

  &__item {
    padding: 12px 0;

    @media (min-width: 1440px) {
      padding: 1.2rem 0;
    }
  }

  &__link {
    display: inline-block;
    color: var(--black-brand-color);

    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    transition: transform 0.4s ease-out;

    @include hover {
      transform: translateX(10px);

      @media (min-width: 1441px) {
        transform: translateX(1rem);
      }
    }

    @media (min-width: 1440px) {
      font-size: 1.2rem;
      letter-spacing: 0.12rem;
    }

    @include mobile {
      font-size: 14px;
    }
  }
}

.menu-left {
  &__list {
    margin-bottom: 60px;

    @media (min-width: 1440px) {
      margin-bottom: 6rem;
    }

    @include mobile {
      margin-bottom: 24px;
    }
  }

  &__item {
    color: var(--black-brand-color);

    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    margin-left: -15px;

    @media (min-width: 1440px) {
      font-size: 3.2rem;
      letter-spacing: 0.096rem;
    }

    @include mobile {
      font-size: 24px;
    }

    a {
      display: inline-block;
      color: inherit;
      padding-left: 15px;
      transition: transform 0.4s ease-out;

      @include hover {
        transform: translateX(15px);

        @media (min-width: 1441px) {
          transform: translateX(1.5rem);
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 40px;

      @include mobile {
        margin-bottom: 24px;
      }
    }
  }
}

.menu {
  .address {
    &__tel,
    &__mail,
    &__address {
      // color: var(--black-brand-color);
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 1.2px;

      line-height: normal;

      @media (min-width: 1440px) {
        font-size: 2rem;
        letter-spacing: 0.12rem;
      }

      @include mobile {
        font-size: 14px;
      }
    }

    &__tel {
      background-image: url("./../img/call-icon.svg");
    }

    &__mail {
      background-image: url("./../img/mail-icon.svg");
    }

    &__address {
      background-image: url("./../img/map-icon.svg");
      max-width: 270px;

      @include mobile {
        max-width: 190px;
      }

      @media (min-width: 1440px) {
        max-width: 27rem;
      }
    }
  }
}
