<section class="about-video">
  <div class="about-video__container main-container">
    <div class="about-video__video">
      <div class="about-video__wrapper">
        <picture>
          <source srcset="./img/schit.webp" type="image/webp" />
          <img src="./img/schit.png" class="about-video__cover" alt="Сборка и монтаж электрощитового оборудования" loading="lazy" />
        </picture>
      </div>
    </div>
    <div class="about-video__content">
      <h4 data-aos="custom-fade-up">Партнёрство и материалы</h4>
      <h3 data-aos="custom-fade-up">Сертифицированные специалисты и&nbsp;проверенные поставщики</h3>
      <p data-aos="custom-fade-up">
        Благодаря сотрудничеству с&nbsp;«Электро Маркет» предлагаем материалы со&nbsp;скидкой до&nbsp;20%
        и&nbsp;гарантируем их&nbsp;подлинность. Команда проходит обучение и&nbsp;сертификацию
        у&nbsp;ведущих брендов отрасли.
      </p>
    </div>
  </div>
  @include('partners-marquee.html')
</section>
