<section class="about-desc">
  <div class="main-container">
    <div class="about-desc__header">
      <h4 class="about-desc__eyebrow" data-aos="custom-fade-up">Эльтек Групп · Ярославль</h4>
      <h2 data-aos="custom-fade-up">Электромонтаж и&nbsp;инженерные системы под ключ</h2>
      <p data-aos="custom-fade-up">
        Проектируем и&nbsp;монтируем электроснабжение, слаботочные системы и&nbsp;«умный дом»
        для частных домов, квартир и&nbsp;коммерческих объектов.
      </p>
    </div>

    <div class="about-desc__row">
      <div class="about-desc__media" data-aos="custom-fade-up" data-aos-delay="100">
        <picture>
          <source srcset="./img/hero/hero3-2x.jpg" />
          <img src="./img/hero/hero3.jpg" alt="Инженерные работы на объекте" loading="lazy" />
        </picture>
      </div>

      <div class="about-desc__content">
        <article data-aos="custom-fade-up" data-aos-delay="150">
          <h3>Полный цикл работ</h3>
          <p>
            От&nbsp;бесплатной консультации и&nbsp;выезда инженера до&nbsp;сдачи объекта с&nbsp;актами
            и&nbsp;исполнительной документацией. Прокладка кабелей, монтаж щитов, освещения,
            «умного дома», видеонаблюдения и&nbsp;локальных сетей.
          </p>
        </article>
        <article data-aos="custom-fade-up" data-aos-delay="200">
          <h3>Нас выбирают за результат</h3>
          <p>
            Собственная команда с&nbsp;опытом до&nbsp;20&nbsp;лет, фиксированная стоимость до&nbsp;начала работ,
            сдача без переделок. Материалы со&nbsp;скидкой от&nbsp;партнёра, сертифицированное оборудование
            и&nbsp;поддержка после сдачи объекта.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
