<section class="built-houses about-portfolio">
  <h2 class="visually-hidden">Реализованные объекты</h2>

  <div class="built-houses__marquee built-houses__marquee--text built-houses__marquee--left">
    <div class="built-houses__track">
      <p class="built-houses__line" aria-hidden="true">
        <span>объекты</span><span>объекты</span><span>объекты</span><span>объекты</span><span>объекты</span><span>объекты</span>
      </p>
      <p class="built-houses__line" aria-hidden="true">
        <span>объекты</span><span>объекты</span><span>объекты</span><span>объекты</span><span>объекты</span><span>объекты</span>
      </p>
    </div>
  </div>

  <div class="built-houses__marquee built-houses__marquee--gallery">
    <div class="built-houses__track">
      <ul class="built-houses__gallery list-reset">
        <li class="built-houses__card">
          <picture>
            <source srcset="./img/hero/hero1-2x.jpg" />
            <img src="./img/hero/hero1.jpg" alt="Частный дом — электромонтаж" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card built-houses__card--offset">
          <picture>
            <source srcset="./img/hero/hero2-2x.jpg" />
            <img src="./img/hero/hero2.jpg" alt="Квартира — замена проводки" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card">
          <picture>
            <source srcset="./img/hero/hero3-2x.jpg" />
            <img src="./img/hero/hero3.jpg" alt="Коммерческий объект" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card built-houses__card--offset">
          <picture>
            <source srcset="./img/hero/hero4-2x.jpg" />
            <img src="./img/hero/hero4.jpg" alt="Монтаж инженерных систем" loading="lazy" />
          </picture>
        </li>
      </ul>
      <ul class="built-houses__gallery list-reset" aria-hidden="true">
        <li class="built-houses__card">
          <picture>
            <source srcset="./img/hero/hero1-2x.jpg" />
            <img src="./img/hero/hero1.jpg" alt="" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card built-houses__card--offset">
          <picture>
            <source srcset="./img/hero/hero2-2x.jpg" />
            <img src="./img/hero/hero2.jpg" alt="" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card">
          <picture>
            <source srcset="./img/hero/hero3-2x.jpg" />
            <img src="./img/hero/hero3.jpg" alt="" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card built-houses__card--offset">
          <picture>
            <source srcset="./img/hero/hero4-2x.jpg" />
            <img src="./img/hero/hero4.jpg" alt="" loading="lazy" />
          </picture>
        </li>
      </ul>
    </div>
  </div>

  <div class="built-houses__marquee built-houses__marquee--text built-houses__marquee--right">
    <div class="built-houses__track">
      <p class="built-houses__line" aria-hidden="true">
        <span>реализованные</span><span>реализованные</span><span>реализованные</span><span>реализованные</span><span>реализованные</span><span>реализованные</span>
      </p>
      <p class="built-houses__line" aria-hidden="true">
        <span>реализованные</span><span>реализованные</span><span>реализованные</span><span>реализованные</span><span>реализованные</span><span>реализованные</span>
      </p>
    </div>
  </div>

  <div class="about-portfolio__footer main-container" data-aos="custom-fade-up">
    <p class="about-portfolio__desc">
      Частные дома, квартиры, промышленные и&nbsp;коммерческие помещения в&nbsp;Ярославле и&nbsp;области
    </p>
    <a href="index.html#projects" class="btn btn--stroke about-portfolio__link">Смотреть портфолио</a>
  </div>
</section>
