<section class="about-prod">
  <div class="about-prod__header about-head about-head--sm about-head--spacing-lg">
    <h2 class="title" data-aos="custom-fade-up">Как мы работаем на&nbsp;объекте</h2>
    <p class="about-lead" data-aos="custom-fade-up">
      Контроль ключевых этапов под руководством главного инженера: от&nbsp;прокладки кабеля
      и&nbsp;сборки щитов до&nbsp;пусконаладки и&nbsp;передачи документации заказчику.
    </p>
  </div>
  <div class="about-prod__container main-container">
    <div class="about-prod__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide about-prod__slide">
          <figure class="about-prod__figure">
            <picture>
              <source srcset="./img/working/02.webp" type="image/webp" />
              <img src="./img/working/02.jpg" alt="Прокладка кабельных линий на объекте" loading="lazy" />
            </picture>
          </figure>
        </div>
        <div class="swiper-slide about-prod__slide">
          <figure class="about-prod__figure">
            <picture>
              <source srcset="./img/working/03.webp" type="image/webp" />
              <img src="./img/working/03.jpg" alt="Монтаж электропроводки" loading="lazy" />
            </picture>
          </figure>
        </div>
        <div class="swiper-slide about-prod__slide">
          <figure class="about-prod__figure">
            <picture>
              <source srcset="./img/working/04.webp" type="image/webp" />
              <img src="./img/working/04.jpg" alt="Сборка электрощита" loading="lazy" />
            </picture>
          </figure>
        </div>
        <div class="swiper-slide about-prod__slide">
          <figure class="about-prod__figure">
            <picture>
              <source srcset="./img/working/06.webp" type="image/webp" />
              <img src="./img/working/06.jpg" alt="Инженерный контроль на объекте" loading="lazy" />
            </picture>
          </figure>
        </div>
        <div class="swiper-slide about-prod__slide">
          <figure class="about-prod__figure">
            <picture>
              <source srcset="./img/working/07.webp" type="image/webp" />
              <img src="./img/working/07.jpg" alt="Пусконаладочные работы" loading="lazy" />
            </picture>
          </figure>
        </div>
        <div class="swiper-slide about-prod__slide">
          <figure class="about-prod__figure">
            <picture>
              <source srcset="./img/working/08.webp" type="image/webp" />
              <img src="./img/working/08.jpg" alt="Работа бригады на объекте" loading="lazy" />
            </picture>
          </figure>
        </div>
        <div class="swiper-slide about-prod__slide">
          <figure class="about-prod__figure">
            <picture>
              <source srcset="./img/working/3223.webp" type="image/webp" />
              <img src="./img/working/3223.jpg" alt="Сдача объекта заказчику" loading="lazy" />
            </picture>
          </figure>
        </div>
      </div>
    </div>
    <div class="about-prod__slider-control prod-control">
      <button type="button"
        class="btn-reset slider-control__btn slider-control__btn--dark slider-control__btn--prev prod-control__btn prod-control__btn--prev"
        aria-label="Предыдущий слайд">
        <svg class="" width="24" height="24">
          <use xlink:href="img/sprite.svg#arr-right"></use>
        </svg>
      </button>
      <button type="button"
        class="btn-reset slider-control__btn slider-control__btn--dark slider-control__btn--next prod-control__btn prod-control__btn--next"
        aria-label="Следующий слайд">
        <svg class="" width="24" height="24">
          <use xlink:href="img/sprite.svg#arr-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
