<section class="about-gift">
  <div class="main-container">
    <div class="about-gift__row">
      <div class="about-gift__content">
        <div class="about-head about-head--left">
          <p class="eyebrow eyebrow--about" data-aos="custom-fade-up">Подход к работе</p>
          <h2 class="title" data-aos="custom-fade-up">Ваш объект&nbsp;&mdash; наш приоритет</h2>
        </div>
        <p class="about-lead" data-aos="custom-fade-up">
          Прорабатываем каждую деталь: от&nbsp;расположения розеток до&nbsp;схемы щита и&nbsp;сценариев «умного дома».
          Погружаемся в&nbsp;проект с&nbsp;головой&nbsp;&mdash; чтобы инженерия работала на&nbsp;комфорт,
          а&nbsp;не&nbsp;мешала дизайну.
        </p>
        <p class="about-lead" data-aos="custom-fade-up">
          8&nbsp;лет безупречной работы: знаем подводные камни электромонтажа и&nbsp;решаем их&nbsp;до&nbsp;того,
          как они станут проблемой.
        </p>
        <ul class="about-gift__list list-reset" data-aos="custom-fade-up" data-aos-delay="100">
          <li class="about-gift__item">Индивидуальный подход к&nbsp;каждому объекту</li>
          <li class="about-gift__item">Партнёрство с&nbsp;дизайнерами и&nbsp;архитекторами</li>
          <li class="about-gift__item">Инженерное сопровождение от&nbsp;проекта до&nbsp;сдачи</li>
        </ul>
      </div>

      <div class="about-gift__media" data-aos="custom-fade-up" data-aos-delay="100">
        <picture>
          <source srcset="./img/cable.webp" type="image/webp" />
          <img src="./img/cable.png" width="503" height="503" alt="Монтаж электропроводки на объекте" loading="lazy" />
        </picture>
      </div>
    </div>
  </div>
</section>