<section class="about-mon">
  <div class="main-container about-mon__container">
    <header class="about-mon__header" data-aos="custom-fade-up">
      <h4 class="about-mon__eyebrow">Гарантии и ответственность</h4>
      <h2 class="about-mon__title">Мы гарантируем</h2>

    </header>


    <ul class="about-mon__list list-reset">
      <li class="about-mon__item" data-aos="custom-fade-up">Честную, понятную и&nbsp;прозрачную смету</li>
      <li class="about-mon__item" data-aos="custom-fade-up" data-aos-delay="50">Соблюдение ПБ, ПУЭ, ГОСТ, СНиП и&nbsp;СП
      </li>
      <li class="about-mon__item" data-aos="custom-fade-up" data-aos-delay="100">Высококлассное исполнение всех этапов
        проекта</li>
      <li class="about-mon__item" data-aos="custom-fade-up" data-aos-delay="150">Завершение работ в&nbsp;срок
        по&nbsp;договору</li>
      <li class="about-mon__item" data-aos="custom-fade-up" data-aos-delay="200">Гарантию на&nbsp;выполненные работы
        от&nbsp;2&nbsp;лет</li>
      <li class="about-mon__item" data-aos="custom-fade-up" data-aos-delay="250">Соответствие техническому проекту
        и&nbsp;документацию</li>
    </ul>
    <ul class="about-mon__notes list-reset" data-aos="custom-fade-up" data-aos-delay="50">
      <li class="about-mon__note">Гарантия 2–5&nbsp;лет</li>
      <li class="about-mon__note">Работа по&nbsp;ПУЭ и&nbsp;СП</li>
      <li class="about-mon__note">Смета без доплат</li>
    </ul>
  </div>
</section>
