<section class="benefits-house" id="advantages">
  <div class="wrapper benefits-house__wrapper">
    <h2 class="title centered benefits-house__title" data-aos="custom-fade-up">
      Почему выбирают нас
    </h2>

    <div class="advantages-reveal" aria-hidden="true">
      <div class="advantages-reveal__frame">
        <div class="advantages-reveal__media"></div>
        <div class="advantages-reveal__shade"></div>
      </div>
    </div>

    <div class="benefits-house__content advantages-stage">
      <div class="advantages-stage__track">
        <article class="advantage-block" data-advantage-index="0">
          <div class="advantage-block__inner main-container">
            <div class="advantage-block__text js-advantage-text">
              <p class="advantage-block__label js-advantage-item">01</p>
              <h3 class="advantage-block__title title title--white js-advantage-item">
                Фиксируем стоимость до&nbsp;начала работ
              </h3>
              <div class="advantage-block__cols">
                <p class="advantage-block__col js-advantage-item">
                  Работаем официально по&nbsp;договору: фиксируем сроки, стоимость
                  и&nbsp;ответственность. Никаких сюрпризов в&nbsp;конце работы.
                </p>
                <p class="advantage-block__col js-advantage-item">
                  Прозрачная смета без неожиданных доплат.
                  Итоговая стоимость соответствует заявленной до&nbsp;выхода на&nbsp;объект.
                </p>
              </div>
            </div>
            <div class="advantage-block__visual js-advantage-visual">
              <div class="advantage-block__figure advantage-block__figure--main js-advantage-figure-main">
                <picture class="advantage-block__img-main">
                  <source srcset="./img/bens/01.webp" type="image/webp" />
                  <img src="./img/bens/01.png" alt="Монтаж инженерных систем" loading="eager" />
                </picture>
              </div>
              <div class="advantage-block__figure advantage-block__figure--mini js-advantage-figure-mini">
                <picture class="advantage-block__img-mini">
                  <source srcset="./img/bens/02.webp" type="image/webp" />
                  <img src="./img/bens/02.png" alt="Щитовое оборудование" loading="eager" />
                </picture>
              </div>
            </div>
          </div>
        </article>

        <article class="advantage-block advantage-block--reverse" data-advantage-index="1">
          <div class="advantage-block__inner main-container">
            <div class="advantage-block__text js-advantage-text">
              <p class="advantage-block__label js-advantage-item">02</p>
              <h3 class="advantage-block__title title title--white js-advantage-item">
                Команда и&nbsp;материалы без компромиссов
              </h3>
              <div class="advantage-block__cols">
                <p class="advantage-block__col js-advantage-item">
                  Собственная команда специалистов с&nbsp;опытом до&nbsp;20&nbsp;лет.
                  Сертификация IEK, ABB, HiTe-pro, EKF, System Electric.
                </p>
                <p class="advantage-block__col js-advantage-item">
                  Материалы со&nbsp;скидкой до&nbsp;20% от&nbsp;партнёра «Электро Маркет».
                  Работаем строго по&nbsp;ПУЭ, ГОСТ и&nbsp;СНиП.
                </p>
              </div>
            </div>
            <div class="advantage-block__visual js-advantage-visual">
              <div class="advantage-block__figure advantage-block__figure--main js-advantage-figure-main">
                <picture class="advantage-block__img-main">

                  <source srcset="./img/bens/03.webp" type="image/webp" />
                  <img src="./img/bens/03.png" alt="Проектирование инженерных систем" loading="eager" />
                </picture>
              </div>
            </div>
          </div>
        </article>

        <article class="advantage-block" data-advantage-index="2">
          <div class="advantage-block__inner main-container">
            <div class="advantage-block__text js-advantage-text">
              <p class="advantage-block__label js-advantage-item">03</p>
              <h3 class="advantage-block__title title title--white js-advantage-item">
                Сдаём объект в&nbsp;срок с&nbsp;документацией
              </h3>
              <div class="advantage-block__cols">
                <p class="advantage-block__col js-advantage-item">
                  Соблюдаем график: запускаем объект в&nbsp;срок или раньше.
                  Монтаж без последующих переделок под руководством главного инженера.
                </p>
                <p class="advantage-block__col js-advantage-item">
                  Гарантия от&nbsp;2 до&nbsp;5&nbsp;лет фиксируется в&nbsp;договоре.
                  Передаём акты, исполнительную документацию и&nbsp;объясняем эксплуатацию.
                </p>
              </div>
            </div>
            <div class="advantage-block__visual js-advantage-visual">
              <div class="advantage-block__figure advantage-block__figure--main js-advantage-figure-main">
                <picture class="advantage-block__img-main">
                  <source srcset="./img/bens/06.webp" type="image/webp" />
                  <img src="./img/bens/06.png" alt="Монтаж на объекте" loading="eager" />
                </picture>
              </div>
              <div class="advantage-block__figure advantage-block__figure--mini js-advantage-figure-mini">
                <picture class="advantage-block__img-mini">
                  <source srcset="./img/bens/07.webp" type="image/webp" />
                  <img src="./img/bens/07.png" alt="Щитовое оборудование" loading="eager" />
                </picture>
              </div>
            </div>
          </div>
        </article>
      </div>

    </div>
  </div>
</section>
