<section class="built-houses">
  <h2 class="visually-hidden">Построенные дома</h2>

  <div class="built-houses__marquee built-houses__marquee--text built-houses__marquee--left">
    <div class="built-houses__track">
      <p class="built-houses__line" aria-hidden="true">
        <span>построенные</span><span>построенные</span><span>построенные</span><span>построенные</span><span>построенные</span><span>построенные</span>
      </p>
      <p class="built-houses__line" aria-hidden="true">
        <span>построенные</span><span>построенные</span><span>построенные</span><span>построенные</span><span>построенные</span><span>построенные</span>
      </p>
    </div>
  </div>

  <div class="built-houses__marquee built-houses__marquee--gallery">
    <div class="built-houses__track">
      <ul class="built-houses__gallery list-reset">
        <li class="built-houses__card">
          <picture>
            <source srcset="./img/built-house1-2x.png" type="image/webp" media="(min-width: 1440px)" />
            <img src="./img/built-house1.jpg" srcset="./img/built-house1-2x.jpg 2x" alt="Построенный дом" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card built-houses__card--offset">
          <picture>
            <source srcset="./img/built-house2-2x.webp" type="image/webp" />
            <img src="./img/built-house2.jpg" srcset="./img/built-house2-2x.jpg 2x" alt="Построенный дом" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card">
          <picture>
            <source srcset="./img/built-house1-2x.png" type="image/webp" media="(min-width: 1440px)" />
            <img src="./img/built-house1.jpg" srcset="./img/built-house1-2x.jpg 2x" alt="Построенный дом" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card built-houses__card--offset">
          <picture>
            <source srcset="./img/built-house2-2x.webp" type="image/webp" />
            <img src="./img/built-house2.jpg" srcset="./img/built-house2-2x.jpg 2x" alt="Построенный дом" loading="lazy" />
          </picture>
        </li>
      </ul>
      <ul class="built-houses__gallery list-reset" aria-hidden="true">
        <li class="built-houses__card">
          <picture>
            <source srcset="./img/built-house1-2x.png" type="image/webp" media="(min-width: 1440px)" />
            <img src="./img/built-house1.jpg" srcset="./img/built-house1-2x.jpg 2x" alt="" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card built-houses__card--offset">
          <picture>
            <source srcset="./img/built-house2-2x.webp" type="image/webp" />
            <img src="./img/built-house2.jpg" srcset="./img/built-house2-2x.jpg 2x" alt="" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card">
          <picture>
            <source srcset="./img/built-house1-2x.png" type="image/webp" media="(min-width: 1440px)" />
            <img src="./img/built-house1.jpg" srcset="./img/built-house1-2x.jpg 2x" alt="" loading="lazy" />
          </picture>
        </li>
        <li class="built-houses__card built-houses__card--offset">
          <picture>
            <source srcset="./img/built-house2-2x.webp" type="image/webp" />
            <img src="./img/built-house2.jpg" srcset="./img/built-house2-2x.jpg 2x" alt="" loading="lazy" />
          </picture>
        </li>
      </ul>
    </div>
  </div>

  <div class="built-houses__marquee built-houses__marquee--text built-houses__marquee--right">
    <div class="built-houses__track">
      <p class="built-houses__line" aria-hidden="true">
        <span>дома</span><span>дома</span><span>дома</span><span>дома</span><span>дома</span><span>дома</span><span>дома</span>
      </p>
      <p class="built-houses__line" aria-hidden="true">
        <span>дома</span><span>дома</span><span>дома</span><span>дома</span><span>дома</span><span>дома</span><span>дома</span>
      </p>
    </div>
  </div>

  <a href="#" class="btn btn-reset btn--fill bulit-houses__btn">готовые дома на продажу</a>
</section>
