<aside class="contact-fab mob-dis" aria-label="Быстрые контакты">
  <ul class="contact-fab__list list-reset" style="--contact-fab-count: 4">
    <li class="contact-fab__item">
      <a class="contact-fab__btn contact-fab__btn--mail" href="mailto:Yareltek@yandex.ru">
        <img src="./img/svg/yandex.svg" alt="Yandex">
      </a>
    </li>
    <li class="contact-fab__item">
      <a class="contact-fab__btn contact-fab__btn--whatsapp" href="https://api.whatsapp.com/send?phone=79109710556"
        target="_blank" rel="noopener noreferrer">
        <img src="./img/svg/tg.svg" alt="WhatsApp">
      </a>
    </li>
    <li class="contact-fab__item">
      <a class="contact-fab__btn contact-fab__btn--phone-alt" href="tel:+79109710567">
        <img src="./img/svg/max.svg" alt="Max">
      </a>
    </li>
    <li class="contact-fab__item">
      <button type="button" class="contact-fab__btn contact-fab__btn--phone phone-btn btn-reset"
        data-form-id="call-btn-main">
        <img src="./img/svg/vk.svg" alt="VK">
      </button>
    </li>
  </ul>
</aside>
