<header class="header">
  <div class="header__container main-container">
    <a class="header__logo logo" href="/" aria-label="Эльтек Групп — на главную">
      <img src="./img/svg/logo-main.svg" alt="Эльтек Групп">
    </a>
    <div class="header__right">

      <div class="header__navigation">
        <div class="header-contact">
          <div class="header-contact__head">
            <a href="tel:+79109710556" class="header__phone header-contact__phone">+7 910 971 05 56</a>
            <button type="button" class="header-contact__toggle btn-reset" aria-expanded="false"
              aria-label="Показать контакты">
              <svg aria-hidden="true">
                <use xlink:href="img/sprite.svg#arrow-dropdown"></use>
              </svg>
            </button>
          </div>
          <div class="header-contact__dropdown">
            <div class="header-contact__panel">
              <a href="tel:+79109710567" class="header-contact__row header-contact__row--phone">
                +7 910 971 05 67
              </a>
              <a href="mailto:Yareltek@yandex.ru" class="header-contact__row header-contact__row--mail">
                Yareltek@yandex.ru
              </a>
              <p class="header-contact__row header-contact__row--schedule">
                Пн–Вс, 9:00–21:00
              </p>
              <p class="header-contact__row header-contact__row--address">
                г.&nbsp;Ярославль, ул.&nbsp;Лисицина, 2В
              </p>
            </div>
          </div>
        </div>

        <nav class="header__nav nav" aria-label="Основная навигация">
          <ul class="list-reset">
            <li>
              <a href="#projects">Портфолио</a>
            </li>
            <li class="nav__item nav__item--has-sub">
              <div class="nav__item-head">
                <a href="#services">
                  Услуги
                  <svg aria-hidden="true">
                    <use xlink:href="img/sprite.svg#arrow-dropdown"></use>
                  </svg>
                </a>
              </div>
              <div class="nav__dropdown">
                <ul class="sub-menu list-reset">
                  <li><a href="#services">Электромонтажные работы</a></li>
                  <li><a href="#services">Умный дом</a></li>
                  <li><a href="#services">Обогрев кровли и&nbsp;водостоков</a></li>
                  <li><a href="#services">Дизайн-проект</a></li>
                  <li><a href="#services">Прокладка слаботочных сетей</a></li>
                  <li><a href="#services">Сборка и&nbsp;подключение электрощитов</a></li>
                  <li><a href="#services">Системы электрического обогрева пола</a></li>
                  <li><a href="#services">Установка стабилизаторов напряжения</a></li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#advantages">О компании</a>
            </li>
            <li>
              <a href="#contact">Контакты</a>
            </li>
          </ul>
        </nav>

      </div>
      <div class="header__btns">
        <a href="#" type="button" class="header__btn btn-reset" aria-label="Открыть меню">
          <svg class="" aria-hidden="true">
            <use xlink:href="img/sprite.svg#like-icon"></use>
          </svg>
        </a>
        <button type="button" class="header__btn btn-reset menu-btn" aria-label="Открыть меню">
          <svg class="" aria-hidden="true">
            <use xlink:href="img/sprite.svg#burger-icon"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
