<section class="hero">
  <div class="swiper hero__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero__img hero__img--ken">
          <picture>
            <source srcset="./img/hero/01.webp" type="image/webp">
            <img loading="lazy" src="./img/hero/01.jpg" width="1920" height="1080"
              alt="Проектирование инженерных систем">
          </picture>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__img hero__img--ken">
          <picture>
            <source srcset="./img/hero/03.webp" type="image/webp">
            <img loading="lazy" src="./img/hero/03.PNG" width="1920" height="1080"
              alt="Проектирование инженерных систем">
          </picture>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero__img hero__img--ken">
          <picture>
            <source srcset="./img/hero/06.webp" type="image/webp">
            <img loading="lazy" src="./img/hero/06.jpg" width="1920" height="1080"
              alt="Умный дом и слаботочные системы">
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__overlay" aria-hidden="true"></div>

  <div class="slide__content hero__content">
    <h1 class="hero__title hero__brand" data-aos="custom-fade-up">
      ЭЛЬ<span class="hero__brand-accent">ТЕК</span>
    </h1>
    <p class="hero__subtitle" data-aos="custom-fade-up" data-aos-delay="100">
      Электромонтаж, проектирование, умный дом и&nbsp;слаботочные системы
      в&nbsp;Ярославле и&nbsp;области&nbsp;&mdash; для квартир, домов
      и&nbsp;коммерческих объектов.
    </p>
    <div class="slide__buttons hero__buttons" data-aos="custom-fade-up" data-aos-delay="200">
      <button class="btn btn--fill slide__btn consult-btn" data-form-id="calc-form">
        Получить расчёт
      </button>
      <button class="btn btn--stroke consult-btn" data-form-id="consult-free">
        Бесплатная консультация
      </button>
    </div>
  </div>

  <button id="down-sect-btn" type="button" class="hero__btn-down btn-reset" aria-label="Прокрутить вниз">
    <svg width="24" height="24">
      <use xlink:href="img/sprite.svg#arr-right"></use>
    </svg>
  </button>
</section>
