<div class="menu menu-disabled main-menu" data-lenis-prevent>

  <div class="menu__window menu__window--main menu-window">

    <ul class="list-reset menu-left__list">
      <li class="menu-left__item">
        <a href="./index.html" class="menu-left__link">Главная</a>
      </li>
      <li class="menu-left__item">
        <a href="./catalogue.html" class="menu-left__link">Портфолио</a>
      </li>
      <li class="menu-left__item">
        <a href="./about.html" class="menu-left__link">О компании</a>
      </li>
      <li class="menu-left__item">
        <a href="./contacts.html" class="menu-left__link">Контакты</a>
      </li>
      <li class="menu-left__item">
        <a href="./favorites.html" class="menu-left__link">Избранное</a>
      </li>
    </ul>

    <ul class="menu-right__list list-reset">
      <li class="menu-right__heading">
        <a href="./services.html">Услуги</a>
      </li>
      <li class="menu-right__item">
        <a href="./service-page.html" class="menu-right__link">Электромонтажные работы</a>
      </li>
      <li class="menu-right__item">
        <a href="./service-page.html" class="menu-right__link">Умный дом</a>
      </li>
      <li class="menu-right__item">
        <a href="./service-page.html" class="menu-right__link">Обогрев кровли и&nbsp;водостоков</a>
      </li>
      <li class="menu-right__item">
        <a href="./service-page.html" class="menu-right__link">Дизайн-проект</a>
      </li>
      <li class="menu-right__item">
        <a href="./service-page.html" class="menu-right__link">Прокладка слаботочных сетей</a>
      </li>
      <li class="menu-right__item">
        <a href="./service-page.html" class="menu-right__link">Сборка и&nbsp;подключение электрощитов</a>
      </li>
      <li class="menu-right__item">
        <a href="./service-page.html" class="menu-right__link">Системы электрического обогрева пола</a>
      </li>
      <li class="menu-right__item">
        <a href="./service-page.html" class="menu-right__link">Установка стабилизаторов напряжения</a>
      </li>
    </ul>

    <address class="menu__address address">
      <a class="address__tel" href="tel:+79109710556">+7 910 971 05 56</a>
      <a class="address__tel" href="tel:+79109710567">+7 910 971 05 67</a>
      <a class="address__mail" href="mailto:Yareltek@yandex.ru">Yareltek@yandex.ru</a>
      <span class="address__address">г.&nbsp;Ярославль, ул.&nbsp;Лисицина, 2В</span>
    </address>
  </div>

  <button type="button" class="btn-close btn-reset menu__close-btn" aria-label="Закрыть меню">
    <svg width="24" height="24">
      <use xlink:href="img/sprite.svg#cross"></use>
    </svg>
  </button>
</div>
