<div class="partners-marquee" data-aos="custom-fade-up">
  <div class="partners-marquee__inner">
    <p class="partners-marquee__label title">Наши партнёры и поставщики</p>

    <div class="partners-marquee__viewport">
      <div class="partners-marquee__track">
        <ul class="partners-marquee__list list-reset">
          <li class="partners-marquee__item">
            <img src="./img/partners/iek.png" alt="IEK" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/abb.png" alt="ABB" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/hite-pro.jpg" alt="HiTE PRO" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/system-electric.jpg" alt="System Electric" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/dks.png" alt="DKC" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/promrukav.png" alt="Промрукав" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/electro-market.png" alt="Электро Маркет" loading="lazy" />
          </li>
        </ul>
        <ul class="partners-marquee__list list-reset" aria-hidden="true">
          <li class="partners-marquee__item">
            <img src="./img/partners/iek.png" alt="" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/abb.png" alt="" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/hite-pro.jpg" alt="" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/system-electric.jpg" alt="" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/dks.png" alt="" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/promrukav.png" alt="" loading="lazy" />
          </li>
          <li class="partners-marquee__item">
            <img src="./img/partners/electro-market.png" alt="" loading="lazy" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
